@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("./assets/images/background.jpg");
    height: 95vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    border-bottom: 8px rgb(44, 44, 44) solid;

}

.main .box {
    height: 95vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    color: red;
    width: 120px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0px 30px;
}

.hero> :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 3px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 400;

}

.btn-red-sm {
    background-color: red;
    color: white;


}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main input {
    color: white;
    padding: 7px 100px 8px 14px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgba(245, 245, 245, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 80vh;
    margin: auto;
    color: white;
    border-bottom: 7px rgb(44, 44, 44) solid;

    
}
.secFirstText{
    max-width: 40vw;
    justify-content: center;
   
}

.secImg {
    position: relative;

}

.secImg img {
    width: 38vw;
    position: relative;
    z-index: 10;

}

.secImg video {
    position: absolute;
    top: 75px;
    right: 28px;
}

section.first>div {
    display: flex;
    flex-direction: column;
}

section.first>div :nth-child(1) {
    font-size: 3rem;
    font-weight: 900;
}

section.first>div :nth-child(2) {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0 0;
}

