@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("./assets/images/background.jpg");
    height: 95vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    border-bottom: 8px #232323 solid;

}

.main .box {
    height: 95vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 75vw;
    height: 30px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    color: #550508;
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero,
.hero2 {
    font-family: 'Martel Sans', sans-serif;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.hero2> :nth-child(1) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding-top: 2rem;
}


.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn-red,
.hero2 .btn-red {
    background-color: red;
    color: white;
    padding: 0.7rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 0.25rem;
    font-weight: 700;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-btn,
.hero-btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main input,
.hero2 input {
    color: white;
    padding: 1rem 10rem 1rem 1rem;
    font-size: 16px;
    text-align: left;
    border-radius: 0.25rem;
    background-color: #0f0f0f99;
    border: 1px solid rgba(245, 245, 245, 0.5);
}

.main input::placeholder,
.hero2 input::placeholder {
    color: white;
    opacity: 0.7;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 80vh;
    margin: auto;
    color: white;
    border-bottom: 8px #232323 solid;

}

.secFirstText {
    max-width: 40vw;
    justify-content: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 38vw;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 75px;
    right: 28px;
}

.third .secImg video {
    top: 35px;
    right: 110px;
    height: 210px;
}


section.first>div {
    display: flex;
    flex-direction: column;
}

section.first>div :nth-child(1) {
    font-size: 3rem;
    font-weight: 900;
}

section.first>div :nth-child(2) {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0 0;
}

.faq {
    background-color: black;
    color: white;
    text-align: center;
    padding: 35px;
    border-bottom: 8px #232323 solid;
}

.faq h2 {
    font-size: 3rem;
    font-weight: 900;
}

.faqbox {
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 25px;
    margin: 10px auto;
    max-width: 70vw;
    cursor: pointer;
    font-size: 24px;
    transition: all 1s ease-out;
}

.faqbox:hover {
    background-color: #414141;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer a {
    color: white;
    font-size: 14px;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 23px;
}